<!DOCTYPE html>
{% load static from staticfiles %}
<html>
{% include 'template.head.html' %}
{% block css %}
<!-- CSS -->
<style>
</style>
{% endblock css %}
{% block content %}
<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </a>
    </div>
		<!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 <ul class="nav navbar-nav">
		 <li><a href="">Info</a></li>
		 <li><a href="">Usuario</a></li>
		 <li><a href="">Direccion publica</a></li>
		 <li><a href="">velocidad</a></li>
	 </ul>
 </div>
 <!-- /.navbar-collapse -->
</nav>
{% endblock %}
{% include 'template.footer.html' %}
</html>
